ENVIRONMENT=development

# Server settings
HOST=0.0.0.0
PORT=8000

APP_URL=http://localhost:3000



# System Prompt
SYSTEM_PROMPT_UI_KEY=4724f1c6-9766-4c07-81a3-a7c256d7cfd4

APPLICATIONINSIGHTS_CONNECTION_STRING=


# Session Management
SESSION_SECRET_KEY=
DISABLE_AUTH=false